<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Travel_Itinerary_Planner"
        tools:targetApi="31">
        <activity
            android:name=".social.EditPostActivity"
            android:exported="false" />
        <activity
            android:name=".chat_email.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".logged_in.LoggedInActivity"
            android:exported="false" />
        <activity
            android:name=".AddNewPostActivity"
            android:exported="false" />
        <activity
            android:name=".profile.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".chat_email.EmailSupportActivity"
            android:exported="false" />
        <activity
            android:name=".HelpCenterActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".PersonalDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".PasswordSecurityActivity"
            android:exported="false" />
        <activity
            android:name=".BookmarksActivity"
            android:label="@string/title_activity_bookmarks"
            android:theme="@style/Theme.Travel_Itinerary_Planner" />
        <activity
            android:name=".BottomNavigationActivity"
            android:exported="true"
            android:label="@string/title_activity_bottom_navigation"></activity>
        <activity
            android:name=".login_register_reset.ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".login_register_reset.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".login_register_reset.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>